<ng-template #addEmailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add email address</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addEmailForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': addEmailSubmitted && addEmailForm.controls.email.errors }" />
                <div *ngIf="addEmailSubmitted && addEmailForm.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="addEmailForm.controls.email.errors.required">Email is required</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<div class="card">
    <h4 class="card-header">Account details</h4>
    <div class="card-body">
        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{accountLogin?.account?.name}}</td>
                </tr>
                <tr>
                    <td>Id:</td>
                    <td>{{accountLogin?.account?.id}}</td>
                </tr>
                <tr>
                    <td>Created:</td>
                    <td>{{accountLogin?.account?.created_date | date:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
                <tr>
                    <td>Resource available:</td>
                    <td><span class="resource resource-available">{{resource | TimeResource}}</span></td>
                </tr>
                <tr>
                    <td>Resource accruement speed:</td>
                    <td><span
                            class="resource resource-available">{{accountLogin?.account?.virtual_resource_speed}}&#10799;</span>
                    </td>
                </tr>
                <tr>
                    <td>Resource spent:</td>
                    <td><span class="resource resource-used">{{accountLogin?.account?.total_resource_spent |
                            TimeResource}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <h4 class="card-header">Email</h4>
    <div class="card-body">
        <table class="table user-view-table m-0">
            <tbody>
                <tr *ngFor="let email of accountLogin?.account?.emails">
                    <td class="align-middle">{{email.email}}</td>
                    <td class="align-middle" *ngIf="email.primary">Primary</td>
                    <td class="align-middle" *ngIf="!email.primary"><button type="button" class="btn btn-secondary" (click)="setPrimary(email)">Set as primary</button></td>
                    <td class="align-middle" *ngIf="email.verified">Verified</td>
                    <td class="align-middle" *ngIf="!email.verified"><button type="button" class="btn btn-secondary" (click)="resendVerification(email)">Resend verification email</button></td>
                    <td class="align-middle"><button type="button" class="btn btn-danger" (click)="deleteEmail(email)"><img class="btn-svg" src = "assets/trash.svg" alt="Delete"/></button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary" (click)="open(addEmailModal)">&#43;</button>
    </div>
</div>