<div class="card">
    <h4 class="card-header">Account details</h4>
    <div class="card-body">
        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{accountLogin?.account?.name}}</td>
                </tr>
                <tr>
                    <td>Id:</td>
                    <td>{{accountLogin?.account?.id}}</td>
                </tr>
                <tr>
                    <td>Created:</td>
                    <td>{{accountLogin?.account?.created_date | date:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
                <tr>
                    <td>Resource available:</td>
                    <td><span class="resource resource-available">{{resource | TimeResource}}</span></td>
                </tr>
                <tr>
                    <td>Resource accruement speed:</td>
                    <td><span class="resource resource-available">{{accountLogin?.account?.virtual_resource_speed}}&#10799;</span></td>
                </tr>
                <tr>
                    <td>Resource spent:</td>
                    <td><span class="resource resource-used">{{accountLogin?.account?.total_resource_spent | TimeResource}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>