
<div *ngIf="idea" class="card">
    <a (click)="navigateToPost(idea)" class="card-header">
        <h4 class="float-left text-secondary">{{idea?.name}}</h4>
        <span *ngIf="!is_root && is_alive" class="badge badge-secondary float-right">{{resource_remaining | TimeResource}}</span>
        <span *ngIf="!is_alive" class="badge badge-secondary float-right">Dead post</span>
    </a>
    <div class="card-body">
        <p *ngIf="!content_expanded"><rich-text [text]="shortened_content"></rich-text> ... <a (click)=expandContent() class="text-primary">[Show more]</a></p>
        <paragraphed-text *ngIf="content_expanded" [text]="idea?.content"></paragraphed-text>
        <div class="row">
            <div *ngIf="idea.total_children > 0" class="float">
                <button class="btn btn-secondary" (click)="clickShowChildren()">{{ showChildren == true ? '-' : '+' }}</button>
                <span *ngIf="!showChildren" class="btn" (click)="clickShowChildren()">{{ idea?.total_children }} posts</span>
            </div>
            <div *ngIf="loginService.loginValue && !is_root">
                <button class="btn btn-secondary" type="button" (click)="toggleLike()">Vote</button>
            </div>
            <div *ngIf="loginService.loginValue" class="float">
                <button class="btn btn-primary" (click)="createIdea()">Post</button>
            </div>
            <div *ngIf="!is_root">
                <span class="btn" >Author: {{author?.name || idea?.author_id}}</span>
            </div>
        </div>
        <div *ngIf="showLike" style="margin-left: 1em;" class="row card">
            <select-time buttons="1,2,6,12,24,48,72" (time)="setTime($event)"></select-time>
            <button class="btn btn-primary" (click)="like()">Send vote!</button>
        </div>
        <div *ngIf="showChildren" style="margin-left: 1em;" class="row card">
            <div *ngIf="loading" class="text-center">
                <img src = "assets/puff.svg" />
            </div>
            <div *ngFor="let child of children">
                <app-idea [idea]="child" (create-idea)=createIdea($event)></app-idea>
            </div>
        </div>
    </div>
</div>