<div class="p-4">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <p>This website allows members to post content in a tree structure. Furthermore each post has an expiry date set by the users contribution of likes.</p>
            <p>Each user accrues time as long as he is a member. This accrued time is used in likes on posts.</p>
            <p>This website is an instance of Idea merit project at</p>
            <p><a href="https://gitlab.com/jakub.c/idea-merit-frontend" class="text-primary">https://gitlab.com/jakub.c/idea-merit-frontend</a></p>
            <p><a href="https://gitlab.com/jakub.c/idea-merit-backend" class="text-primary">https://gitlab.com/jakub.c/idea-merit-backend</a></p>
        </div>
    </div>
</div>
